input[data-pc-name="inputtext"][inputmode="numeric"]:hover {
  outline: none !important;
  --tw-border-opacity: 1;
  border-color: rgb(227 50 92 / var(--tw-border-opacity)) /* #e3325c */;
}

input[data-pc-name="inputtext"][inputmode="numeric"]:focus {
  outline: none !important;
  --tw-border-opacity: 1;
  border-color: rgb(227 50 92 / var(--tw-border-opacity)) /* #e3325c */;
  --tw-shadow: none;
}
