@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/BaiJamjuree-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 500 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Medium";
  src: url("./assets/fonts/BaiJamjuree-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 700 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Bold";
  src: url("./assets/fonts/BaiJamjuree-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./assets/fonts/BaiJamjuree-Italic.woff2") format("woff2");
}

.focus\:ring-fa:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(227 50 92 / var(--tw-ring-opacity)) /* #3b82f6 */;
}
