/* globals.css */
@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here.
   Do NOT include in "unstyled" mode if you want full Tailwind control. */
/* @import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact); */

@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/BaiJamjuree-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 500 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Medium";
  src: url("./assets/fonts/BaiJamjuree-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 700 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Bold";
  src: url("./assets/fonts/BaiJamjuree-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./assets/fonts/BaiJamjuree-Italic.woff2") format("woff2");
}

input:hover {
  outline: none !important;
  --tw-border-opacity: 1;
  border-color: rgb(227 50 92 / var(--tw-border-opacity)) /* #e3325c */;
}

input:focus {
  outline: none !important;
  --tw-border-opacity: 1;
  border-color: rgb(227 50 92 / var(--tw-border-opacity)) /* #e3325c */;
}

.custom-header-center .flex {
  justify-content: center !important;
}

.border-inpt {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) /* #d1d5db */;
}

.calendarbtn {
  color: #e3325c;
  background-color: #ffffff;
  border: none;
  justify-content: space-between;
  font-family:
    Bai Jamjuree,
    sans-serif;
}
